 {
   /* набор плагинов, используемых для поддержки определенных языковых функций */
    "presets": [
      /* компилирует es6+ синтаксис в es5. При необходимости автоматически настраивает полифиллы браузера */
      "@babel/preset-env",     
      /* добавляет поддержку jsx синтаксиса (реакт)   */ 
      ["@babel/preset-react", { "runtime": "automatic" }]
  ]
    /*
    Runtime automatic with react 17+ позволяет не импортировать React: "import React from 'react' "
    в файлах, в которых импользуется только jsx(без состояния и методов реакт)
    */
  }