{
    "parser": "babel-eslint", // Указывает парсер ESLint
    "parserOptions": {     //настройки парсера
      "ecmaVersion": 2021, // Позволяет парсить современные функции ECMAScript.
      "sourceType": "module", // Позволяет использовать импорты
      "ecmaFeatures": {
        "jsx": true   //Позволяет парсить JSX
      }
    },
    /* настройки */
    "settings": {
      "react": {
        "version": "detect" // eslint-plugin-react автоматически определяет версию React для использования
      },
    /* Плагин разрешения модулей с поддержкой Webpack */
    "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".json"]   //обслуживаемые разрешения 
        }
      }
    },
    /* определение конфигурации  */
    "extends": [
      "eslint:recommended",             // Использует рекомендованные правила eslint
      "plugin:react/recommended",       // Использует рекомендованные правила из @eslint-plugin-react
      "plugin:react-hooks/recommended"  // Использует рекомендованные правила для хуков из @eslint-plugin-react-hooks
    ],
    /* плагины */
    "plugins": [
      /* Реагирует на определенные правила линтинга для eslint */ 
      "react", 
      /* Статическая проверка AST для правил доступности для элементов JSX. */ 
      "jsx-a11y"
    ],
    /* правила */
    "rules": {
      "semi": 0,
      "react/jsx-indent": ["error", 2],
      "max-len": [2, 120, 2],
      "no-console": "warn",
      "comma-dangle": ["error", "never"],
      "react/prop-types": [2, { "ignore": ["history"] }],
      "jsx-a11y/label-has-associated-control": "off",
      "react/jsx-filename-extension": [1,
        { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
      ],
      "react/no-set-state": "off",
      "react/jsx-props-no-spreading": "off",
      "prefer-promise-reject-errors": "off",
      "camelcase": "off"
    }
  }