$base-blue: #002f6c;
$base-white: #ffffff;
$base-red: #ff0000;
$base-grey: #909090;

.header {
  background-color: $base-blue;

  .header__title {
    flex-grow: 1;
  }

  .header__link {
    text-decoration: none;
    color: $base-white;
  }

  .link__home:hover {
    color: $base-red;
  }
  .link__common:hover {
    color: $base-grey;
  }
}
