$primary-color: #002f6c;
$white-color: #fff;

.header {
  background-color: $primary-color;
}

.header__title {
  flex-grow: 1;
}

.header__button {
  color: $primary-color;
  background-color: $white-color;
}

.header__button:hover {
  color: $primary-color;
  background-color: darken($white-color, 10);
}

.header__link {
  text-decoration: none;
  color: white;
}

.link__home:hover {
  color: red;
}

.link__common:hover {
  color: lightgrey;
}
