$primary-color: #002f6c;
$white-color: #fff;

.header {
  background-color: $primary-color;
}

.header__title {
  flex-grow: 1;
}

.header__button {
  color: $primary-color;
  background-color: $white-color;
}

.header__button:hover {
  color: $primary-color;
  background-color: darken($white-color, 10);
}
