@import '@/styles/variables.scss';

.container__prompt {
  display: flex;
  justify-content: center;
  margin-top: 20rem;

  .prompt__button {
    background-color: $base-blue;

    &:hover {
      background-color: lighten($base-blue, 10);
    }
  }
}
